IMG_NAME="${IMG_NAME}"
IMG_VERSION="${IMG_VERSION}"
TARGET_HOSTNAME="${IMG_NAME}"
IMG_FILENAME="${IMG_NAME}-${IMG_VERSION}"
USE_QEMU=1
#CLEAN=1

DEPLOY_COMPRESSION=none

KEYBOARD_LAYOUT="English (US)"
TIMEZONE_DEFAULT="America/Los_Angeles"
ENABLE_SSH=1

FIRST_USER_NAME="${IMG_NAME}"
FIRST_USER_PASS="${IMG_NAME}"
